.card-body-space {
    margin-left: 50%;
}

.container-fluid {
    width: 50%;
}

.card-title-border {
    margin-top: -18%;
}

li { 
    color: green;
    margin-bottom: -24px;
}
.red { 
    color: red;
}

b {
  margin-left: 8px;  
}